<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicLibraryLoadTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestingDynamicLibraryLoadTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD0C705B1BFF4A2F00A3E53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0C706B1BFF4A3000A3E53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0C70761BFF4A3000A3E53B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4D92B71BF2D5EB0089A0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4D92CA1BF2D5EC0089A0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4D92D51BF2D5EC0089A0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD98F66F1BEED80700627134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD98F6791BEED80700627134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
